.docker-data.bak/
*/.docker-data.bak/
**/.docker-data.bak/
venv/
*/venv/
**/venv/
.venv/
*/.venv/
**/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.pytest_cache/
*.egg-info/
large_files/*
!large_files/.gitkeep

